{% extends 'base.html' %}\
{% block style %} 
<style>
body {
    color: aliceblue;
    background-color: #211522;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
  border-radius: 20px;
  border: 1px solid;
  padding: 5px 20px;
  font-size: 1.5em;
  background: white;
  cursor: pointer;
}
a{
  background-color: white;
    color: #211522;
    text-decoration: none;
}
b {
    color: #d54d7b;
    font-family: "Satisfy";
    font-size: 65px;
    /* line-height: 160px; */
    font-weight: normal;
    margin-bottom: 0px;
    /* margin-top: 40px; */
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    /* padding: 2px; */
   

  
  }
  h1#logo{
    
    padding-top: 25vh;
    margin: 0;
  
  }
  

  
</style>
{% endblock %}
{% block body %}
    {% if session %}
    <h1 id="logo"><b>Dastory</b></h1>
    <h1>Welcome {{session.userinfo.name}}!</h1>
    <button><a href="/logout" id="qsLogoutBtn">Logout</a></button>
    <div><pre>{{pretty}}</pre></div>
    {% else %}
    <h1 id="logo"><b>Dastory</b></h1>
    <h1 id="profileDropDown">Welcome Guest</h1>
    <button><a href="/login" id="qsLoginBtn">Login</a></button>
    {% endif %}

{% endblock %}

