{% extends 'base.html' %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Attach a click event handler to the button
           
                // Make an AJAX GET request to a server endpoint
                
                $.ajax({
                    type: 'GET', // HTTP request method (GET, POST, PUT, DELETE, etc.)
                    url: '/functioning', // URL of the server endpoint to request data from
                    success: function(response) {
                        if (response.status === 'Done'){
                            window.location.href = '/result';
                        }
                        // Handle the successful response from the server
                        console.log(response);
                        // You can update the DOM with the response data here
                    }
                
                });
            ;
        });
    </script>
{% endblock %}

{% block style %}
<style>
    
    body{
        color: aliceblue;
        background-color: #211522;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h1 {
        color: #C197D2;
        font-size: 60px;
        padding-top: 30vh;
    }
    svg{
        width: 100px;
        height: 100px;
        margin-left: 40px;
        display:inline-block;
    }
    #logo {
        position: fixed;
        top: 0;
        left: 30px;
        color: #d54d7b;
        font-family: 'Satisfy';
        font-size: 30px;
        /* line-height: 160px; */
        font-weight: normal;
        margin-bottom: 0px;
        /* margin-top: 40px; */
        text-align: left;
        text-shadow: 0 1px 1px #fff; 
        padding: 2px;
                
    }
</style>
{% endblock %}

{% block body %}
    <h2 id="logo">Dastory</h2>
    <h1>Loading</h1>
    <svg version="1.1" id="L5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
    <circle fill="#C197D2" stroke="none" cx="6" cy="50" r="6">
      <animateTransform 
         attributeName="transform" 
         dur="1s" 
         type="translate" 
         values="0 15 ; 0 -15; 0 15" 
         repeatCount="indefinite" 
         begin="0.1"/>
    </circle>
    <circle fill="#C197D2" stroke="none" cx="30" cy="50" r="6">
      <animateTransform 
         attributeName="transform" 
         dur="1s" 
         type="translate" 
         values="0 10 ; 0 -10; 0 10" 
         repeatCount="indefinite" 
         begin="0.2"/>
    </circle>
    <circle fill="#C197D2" stroke="none" cx="54" cy="50" r="6">
      <animateTransform 
         attributeName="transform" 
         dur="1s" 
         type="translate" 
         values="0 5 ; 0 -5; 0 5" 
         repeatCount="indefinite" 
         begin="0.3"/>
    </circle>
  </svg>
  {% endblock %}



