{% extends 'base.html' %}
{% block script %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{%endblock%}
{% block style %}
<style>
  body {
    color: aliceblue;
    background-color: #211522;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  form {
    display: flex;
    flex-direction: row;
    width: 70%;
  }
  .column {
    width: 50%;
    color: green;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

</style>
{% endblock %}

{% block body %}

    <h1>Choose an Option or Enter "Other"</h1>

    <form method="post">
      <div class="column">
        <button class="my-choice" type="submit" name="choice" value="Fantasy">
          Nature and Wilderness
        </button>
        <button class="my-choice" type="submit" name="choice" value="Fairy tales">
          Indoor Relaxation
        </button>
        <button class="my-choice" type="submit" name="choice" value="Fairy tales">
        Urban and Nighttime Scene
        </button>
      </div>
        <div class="column">
        
        <button class="my-choice" type="submit" name="choice" value="Fairy tales">
          Fantasy and Otherworldly
        </button>
        <button class="my-choice" type="submit" name="choice" value="Fairy tales">
          Science Fiction
        </button>
        <button class="my-choice" type="submit" name="choice" value="Fairy tales">
          Underwater Worlds
        </button>
      </div>


      <!-- <label>
            <input type="radio" name="choice" value="Option 1"> Option 1
        </label><br>
        
        <label>
            <input type="radio" name="choice" value="Option 2"> Option 2
        </label><br>
        
        <label>
            <input type="radio" name="choice" value="Option 3"> Option 3
        </label><br> -->

      <label> <input type="radio" name="choice" value="Other" /> Other </label
      ><br />

      <input
        type="text"
        name="other_input"
        placeholder="Enter other option"
        style="margin-top: 5px"
      /><br />

      <input type="submit" value="Submit" />
    </form>
{% endblock %}

