<!DOCTYPE html>
<html>
<head>
    <title>Choice or Other</title>
</head>
<body>
    <h1>Choose an Option or Enter "Other"</h1>
    
    <form method="post">
        <button type="submit" name="choice" value="Button 1">Button 1</button>
        <button type="submit" name="choice" value="Button 2">Button 2</button>
        
        <!-- <label>
            <input type="radio" name="choice" value="Option 1"> Option 1
        </label><br>
        
        <label>
            <input type="radio" name="choice" value="Option 2"> Option 2
        </label><br>
        
        <label>
            <input type="radio" name="choice" value="Option 3"> Option 3
        </label><br> -->
        
        <label>
            <input type="radio" name="choice" value="Other"> Other
        </label><br>
        
        <input type="text" name="other_input" placeholder="Enter other option" style="margin-top: 5px;"><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
