{% extends 'base.html' %} {% block script %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
{%endblock%} {% block style %}
<style>
  body {
    color: aliceblue;
    background-color: #211522;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* form {
    display: flex;
    flex-direction: row;
  } */
  .column-1 {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .column-2-parrent {
    display: flex;
    flex-direction: row;
  }
  .column-2 {
    width: 50%;
    color: green;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
  }
  .column-2-parrent button {
    height: 80px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    border: 1px solid;
    padding: 0px 20px;
    font-size: 2em;
    background: #d3b1c2;
    cursor: pointer;
  }

  .column-1 input:first-of-type {
    width: 100%;
    border-radius: 25px;
    border: 2px solid #73ad21;
    padding: 0 20px;
    height: 50px;
    font-size: 30px;
  }

  .column-1 input:last-of-type {
    width: 20%;
    border-radius: 20px;
    padding: 15px 15px;
    font-size: 1em;
    background: white;
    cursor: pointer;
  }

  label {
    display: flex;
    width: 20%;
  }
  .active {
    background-color: #d3b1c2;
  }
  #lang-button {
    border-radius: 5px;
    border-style: solid;
  }
  #lang-button:hover {
    background-color: #bf9faf;

  }

 
</style>
{% endblock %} {% block body %}


<form method="post">
  <div class = "lang">
    <h4>Story language </h4>
    <button type="button" id="lang-button" onclick="selectLanguage('en')">English</button>
    <button type="button" id="lang-button" onclick="selectLanguage('es')">Spanish</button>
    <input type="hidden" id="selected-language" name="selected_language" value="">
  </div>

<h1 style="text-align: center;">Choose an Option or Write Your Own Prompt</h1>
  <div class="column-2-parrent">
    <div class="column-2">
      <button class="my-choice" type="submit" name="choice" value="Fantasy">
        Nature and Wilderness
      </button>
      <button class="my-choice" type="submit" name="choice" value="Fairy tales">
        Indoor Relaxation
      </button>
      <button class="my-choice" type="submit" name="choice" value="Fairy tales">
        Urban and Nighttime Scene
      </button>
    </div>

    <div class="column-2">
      <button class="my-choice" type="submit" name="choice" value="Fairy tales">
        Fantasy and Otherworldly
      </button>
      <button class="my-choice" type="submit" name="choice" value="Fairy tales">
        Science Fiction
      </button>
      <button class="my-choice" type="submit" name="choice" value="Fairy tales">
        Underwater Worlds
      </button>
    </div>
  </div>

  <div class="column-1">
    <!-- <label> <input type="checkbox" name="choice" value="Other" /> Other </label>
    <br /> -->

    <input style="padding: 10px 20px"
      type="text"
      name="other_input"
      placeholder="Personalize your story..."
      style="margin-top: 5px"
    /><br />

    <input id="submit-btn" type="submit" value="Get your story" />
  </div>
  
    <script>
      // Get references to the checkboxes
      const checkbox1 = document.getElementById("checkbox1");
      const checkbox2 = document.getElementById("checkbox2");
      // LANG
      const lang = document.querySelectorAll("#lang-button")
        
      function deactive(buttons) {
        buttons.forEach((button) => {
        button.classList.remove('active');
        });
      }
      lang.forEach((btn) => { btn.addEventListener("click", function() {
      deactive(lang);
      btn.classList.add("active");
          
      })})
      function selectLanguage(language) {
            document.getElementById('selected-language').value = language;
    }
      // Add an event listener to checkbox1
      checkbox1.addEventListener("change", function () {
        if (checkbox1.checked) {
          checkbox2.checked = false; // Uncheck checkbox2
        }
      });

      // Add an event listener to checkbox2
      checkbox2.addEventListener("change", function () {
        if (checkbox2.checked) {
          checkbox1.checked = false; // Uncheck checkbox1
        }
      });

      // Automatically check checkbox1 when the page loads
      checkbox1.checked = true;
    </script>
  </div>
  

  <!-- div for lang -->
</form>
{% endblock %}
